In [35]:
import pandas as pd
import numpy as np

### ANES2020 --- *[FEELING THERMOMETERS]* Questions

In [65]:
df = pd.read_csv("../data/anes2020/anes_pilot_2020ets_csv.csv")

print("Number of Rows", df.shape)

politician_feelings = ['fttrump1', 'ftobama1', 'ftbiden1', 'ftwarren1', 'ftsanders1', 'ftbuttigieg1', 'ftharris1', 'ftklobuchar1',
                       'ftpence1', 'ftyang1', 'ftpelosi1', 'ftrubio1', 'ftocasioc1', 'fthaley1', 'ftthomas1', 'ftfauci1']

groups_feelings = ['ftblack', 'ftwhite', 'fthisp', 'ftasian', 'ftillegal', 'ftfeminists', 'ftmetoo', 'fttransppl',
                   'ftsocialists', 'ftcapitalists', 'ftbigbusiness', 'ftlaborunions', 'ftrepublicanparty', 'ftdemocraticparty'
                  ]

partisanship = ['pid1r']

# only look self identified partisans 2144/3080. 1: Repub; 2: Democrat
df = df[df.pid1r < 3]
df.pid1r = df.pid1r.map({1: "Republican", 2: "Democrat"})
df.shape

Number of Rows (3080, 470)

(2144, 470)

In [66]:
df[groups_feelings]

,ftblack,ftwhite,fthisp,ftasian,ftillegal,ftfeminists,ftmetoo,fttransppl,ftsocialists,ftcapitalists,ftbigbusiness,ftlaborunions,ftrepublicanparty,ftdemocraticparty
0,100,100,100,100,95,100,100,100,90,999,999,999,999,999
1,30,80,50,20,10,20,20,20,30,60,20,0,80,10
3,50,50,50,50,5,25,35,40,40,50,70,50,80,36
4,100,45,55,30,20,10,10,0,0,0,50,90,0,95
5,15,40,55,65,30,0,1,3,90,70,50,50,70,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3075,70,70,70,70,50,70,80,70,40,50,35,60,15,90
3076,100,100,100,100,75,100,90,100,75,25,10,90,0,75
3077,80,80,80,85,30,50,0,80,0,95,75,15,95,1
3078,89,96,79,78,4,13,3,15,3,98,98,88,100,3
3079,100,100,100,50,0,50,50,50,50,50,30,0,0,100

In [74]:
# 999 stands for missing values
df_politician_results = df[partisanship+politician_feelings+groups_feelings].replace(999, np.nan).groupby("pid1r").mean().T
df_politician_results['is_repub_leading'] = (df_politician_results.Republican > df_politician_results.Democrat)
print(df_politician_results.shape)
df_politician_results

(30, 3)

pid1r               Democrat  Republican  is_repub_leading
fttrump1           17.664378   77.833163              True
ftobama1           81.292704   29.992821             False
ftbiden1           66.497423   24.401235             False
ftwarren1          59.843478   20.457680             False
ftsanders1         63.769828   20.503597             False
ftbuttigieg1       52.786607   21.663441             False
ftharris1          52.120889   18.633008             False
ftklobuchar1       50.043439   22.171367             False
ftpence1           24.091845   71.121524              True
ftyang1            49.279133   29.191176             False
ftpelosi1          61.758176   16.098664             False
ftrubio1           31.522052   43.008547              True
ftocasioc1         50.596601   16.489752             False
fthaley1           29.860531   47.069714              True
ftthomas1          29.950000   48.631868              True
ftfauci1           66.669877   58.275899             False
ftblack            76.219638   66.510309             False
ftwhite            71.250000   77.156540              True
fthisp             71.269363   63.595876             False
ftasian            68.945549   63.443756             False
ftillegal          56.169828   26.246646             False
ftfeminists        61.967938   33.920372             False
ftmetoo            63.739774   32.730851             False
fttransppl         63.217617   35.061983             False
ftsocialists       54.000869   24.106029             False
ftcapitalists      46.675652   60.533054              True
ftbigbusiness      43.142114   57.847826              True
ftlaborunions      60.672474   44.870466             False
ftrepublicanparty  25.016436   74.465641              True
ftdemocraticparty  71.237684   24.344262             False

In [80]:
df_politician_results.shape

(30, 3)

In [92]:
# prompt 1: XXX is
df_politician_results['Prompt1'] = [
    "Donald Trump",
    "Barack Obama",
    "Joe Biden",
    "Elizabeth Warren",
    "Bernie Sanders",
    "Pete Buttigieg",
    "Kamala Harris",
    "Amy Klobuchar",
    "Mike Pence",
    "Andrew Yang",
    "Nancy Pelosi",
    "Marco Rubio",
    "Alexandria Ocasio-Cortez",
    "Nikki Haley",
    "Clarence Thomas",
    "Dr. Anthony Fauci",
    "blacks",
    "whites",
    "Hispanics",
    "Asians",
    "illegal immigrants",
    "feminists",
    "the #MeToo movement",
    "transgender people",
    "socialists",
    "capitalists",
    "big business",
    "labor unions",
    "the Republican Party",
    "the Democratic Party"
]

df_politician_results['Prompt2'] = [
    "Donald Trump is",
    "Barack Obama is",
    "Joe Biden is",
    "Elizabeth Warren is",
    "Bernie Sanders is",
    "Pete Buttigieg is",
    "Kamala Harris is",
    "Amy Klobuchar is",
    "Mike Pence is",
    "Andrew Yang is",
    "Nancy Pelosi is",
    "Marco Rubio is",
    "Alexandria Ocasio-Cortez is",
    "Nikki Haley is",
    "Clarence Thomas is",
    "Dr. Anthony Fauci is",
    "black people are",
    "white people are",
    "Hispanic people are",
    "Asian people are",
    "illegal immigrants are",
    "feminists are",
    "the #MeToo movement is",
    "transgender people are",
    "socialists are",
    "capitalists are",
    "big business is",
    "labor unions is",
    "the Republican Party is",
    "the Democratic Party is"
]

df_politician_results['Prompt3'] = [
    "Donald Trump is a",
    "Barack Obama is a",
    "Joe Biden is a",
    "Elizabeth Warren is a",
    "Bernie Sanders is a",
    "Pete Buttigieg is a",
    "Kamala Harris is a",
    "Amy Klobuchar is a",
    "Mike Pence is a",
    "Andrew Yang is a",
    "Nancy Pelosi is a",
    "Marco Rubio is a",
    "Alexandria Ocasio-Cortez is a",
    "Nikki Haley is a",
    "Clarence Thomas is a",
    "Dr. Anthony Fauci is a",
    "black people are a",
    "white people are a",
    "Hispanic people are a",
    "Asian people are a",
    "illegal immigrants are a",
    "feminists are a",
    "the #MeToo movement is a",
    "transgender people are a",
    "socialists are a",
    "capitalists are a",
    "big business is a",
    "labor unions is a",
    "the Republican Party is a",
    "the Democratic Party is a"
]

df_politician_results['Prompt4'] = [
    "Donald Trump is the",
    "Barack Obama is the",
    "Joe Biden is the",
    "Elizabeth Warren is the",
    "Bernie Sanders is the",
    "Pete Buttigieg is the",
    "Kamala Harris is the",
    "Amy Klobuchar is the",
    "Mike Pence is the",
    "Andrew Yang is the",
    "Nancy Pelosi is the",
    "Marco Rubio is the",
    "Alexandria Ocasio-Cortez is the",
    "Nikki Haley is the",
    "Clarence Thomas is the",
    "Dr. Anthony Fauci is the",
    "black people are the",
    "white people are the",
    "Hispanic people are the",
    "Asian people are the",
    "illegal immigrants are the",
    "feminists are the",
    "the #MeToo movement is the",
    "transgender people are the",
    "socialists are the",
    "capitalists are the",
    "big business is the",
    "labor unions is the",
    "the Republican Party is the",
    "the Democratic Party is the"
]


df_politician_results.to_csv("anes2020_pilot_prompt_probing.csv")

## check with GPT-2 text generation + stance detection

In [96]:
(df[partisanship+politician_feelings+groups_feelings].replace(999, np.nan) == 50.0).sum()

pid1r                  0
fttrump1              87
ftobama1             149
ftbiden1             214
ftwarren1            254
ftsanders1           172
ftbuttigieg1         269
ftharris1            232
ftklobuchar1         271
ftpence1             216
ftyang1              387
ftpelosi1            185
ftrubio1             338
ftocasioc1           244
fthaley1             331
ftthomas1            362
ftfauci1             261
ftblack              338
ftwhite              310
fthisp               356
ftasian              340
ftillegal            326
ftfeminists          376
ftmetoo              345
fttransppl           360
ftsocialists         379
ftcapitalists        411
ftbigbusiness        381
ftlaborunions        405
ftrepublicanparty    216
ftdemocraticparty    215
dtype: int64